.hour-hand {
  transform-origin: 16px 16px;
  animation: hour-spin 12s linear infinite;
}
.minute-hand {
  transform-origin: 16px 16px;
  animation: minute-spin 2s linear infinite;
}
@keyframes hour-spin {
  100% { transform: rotate(360deg); }
}
@keyframes minute-spin {
  100% { transform: rotate(360deg); }
}

.animated-clock-icon-large {
  width: 48px;
  height: 48px;
}